<DOCTYPE!html>
    <html>
        <header>
            <title>User Signup
            </title>
            <br>
            <h2>User Signup</h2>
        </header>
        <body>
            <form action="/welcome" method="post">
                <table>
                    <tr>
                        <td>
                            Username
                        </td>
                        <td>
                            <input type="text" name="username" value = '{{username}}'>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Password
                        </td>
                        <td>
                            <input type="password" name="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Verify Password
                        </td>
                        <td>
                            <input type="password" name="verify">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email (optional)         
                        </td>
                        <td>
                            <input type="text" name="email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br>
                        </td>
                        <td>
                           <br> 
                        </td>
                    </tr>
                    <tr>
                        <td>
                                <input type="submit" value = "Submit">
                        </td>
                        <td>
                                
                        </td>
                    </tr>
                    
                </table>
            </form>
        </body>
    </html>